name: Manual Test Coverage Comment

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  add_comment:
    runs-on: ubuntu-latest

    permissions:
      checks: write
      contents: read
      pull-requests: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: actions/checkout@main
      - name: Conceder permissões de execução ao arquivo JSON
        run: chmod +x ./scripts/ci/coverage.json
      - name: Ler arquivo JSON e armazenar em variável
        id: report
        run: output=$(./scripts/ci/coverage.json); echo "$COVERAGE_REQUIRED=$output" >> $GITHUB_OUTPUT
        env:
          COVERAGE_REQUIRED: ${{ steps.report.outputs.COVERAGE_REQUIRED }}
          

      - name: Create comment
        run:  sh ./scripts/ci/quality-gate-table.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ github.token }}
          PR_NUMBER: ${{ github.event.pull_request.number }}